<!DOCTYPE html>
<html>

<head>
	<!-- <meta http-equiv="X-Frame-Options" content="deny"> -->
	<title>frame</title>
	<style type="text/css">
		/*iframe[name='showframe']{
			width: 500px;
			height: 300px;
			overflow: scroll;
		}*/
	</style>
</head>
<body>
<!-- <iframe src="/example/html/html_contents.html"></iframe> -->
<div>
	<!-- <a href="http://www.runoob.com" target="showframe">runoob</a> -->
	<a href="http://127.0.0.1:3001" target="showframe">file</a>
	<a href="http://www.w3school.com.cn" target="showframe">w3school</a>
</div>

 <iframe src="http://www.w3school.com.cn" name="showframe" style = "overflow:scroll" width="100px" height="100px"></iframe>
</body>
</html>